

html {
  font-family: 'monospace', helvetica, arial, sans-serif;
}

table {
  background-color: #eee;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid #003247;
}

tr:first-child td {
    background: #CCC;
    font-weight: bold;
}

tr:nth-child(odd) { background: #FFF; }
tr:nth-child(even) { background: #EEE; }

td {
  padding: 10px;
  letter-spacing: 1px;
  width: 0;
  min-width: fit-content;

  max-width: 0;
  overflow: hidden;


}

